---
import { getCollection } from "astro:content";
import { Font } from "astro:assets";
import  {formatDate } from "@utils/timeUtils";
import { sortedTimeDescending } from "@utils/postUtils";

import "../../styles/home.css";

let posts = await getCollection("posts")
let sortedPosts = sortedTimeDescending(posts)
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-synonym" preload />
    <Font cssVariable="--font-lora" preload />
    <title>Blog | George Rodier</title>
  </head>
  <body class="flow">
    <header class="container site-header">
      <a class="site-name" href="/">George Rodier</a>
      <nav class="site-nav">
        <a href="/posts">Blog</a>
        <a href="/subscribe">Subscribe</a>
      </nav>
    </header>

    <main class="container flow">
      <header class="page-header">
        <h1>Blog</h1>
        <p>Thoughts on software engineering, building products, and delivering value.</p>
      </header>

      <ul class="post-list" role="list">
        {sortedPosts.map((post) => (
          <li>
            <a class="post-link flow" href={`/posts/${post.id}`}>
              <time datetime={post.data.pubDate.toISOString()}>
          {formatDate(post.data.pubDate)}
              </time>
              <h2>{post.data.title}</h2>
              <p>{post.data.description}</p>
            </a>
          </li>
        ))}
      </ul>
    </main>
  </body>
</html>
