---
import { getCollection } from "astro:content";
import { Font } from "astro:assets";
import  { formatDate } from "@utils/timeUtils";
import { sortedTimeDescending } from "@utils/postUtils";

import "../../styles/styles.css";

let posts = await getCollection("posts")
let sortedPosts = sortedTimeDescending(posts)

const isProd = import.meta.env.PROD;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-synonym" preload />
    <Font cssVariable="--font-lora" preload />
    <link 
      rel="alternate"
      type="application/rss+xml"
      title="George Rodier's blog"
      href={new URL("rss.xml", Astro.site)}
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>Blog | George Rodier</title>
    <!-- Fathom - beautiful, simple website analytics -->
    {
      isProd && (
        <script
          src="https://cdn.usefathom.com/script.js"
          data-site="READTHHM"
          defer
        />
      )
    }
    <!-- / Fathom -->
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <a class="site-name" href="/">George Rodier</a>
        <nav class="site-nav">
          <a href="/posts">Blog</a>
          <a href="/subscribe">Subscribe</a>
        </nav>
      </div>
    </header>

    <main class="container flow" data-container="narrow">
      <header class="page-header">
        <h1>Blog</h1>
        <p>Thoughts on software engineering, building products, and delivering value.</p>
      </header>

      <ul class="post-list" role="list">
        {sortedPosts.map((post) => (
          <li>
            <a class="post-link flow" href={`/posts/${post.id}`}>
              <time datetime={post.data.pubDate.toISOString()}>
          {formatDate(post.data.pubDate)}
              </time>
              <h2>{post.data.title}</h2>
              <p>{post.data.description}</p>
            </a>
          </li>
        ))}
      </ul>
    </main>
  </body>
</html>
