---
import { getCollection, render } from "astro:content";
import { Font } from "astro:assets";
import "../../../styles/styles.css";
import { formatDate } from "@utils/timeUtils";

export async function getStaticPaths() {
  let postEntries = await getCollection("posts");
  return postEntries.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

let { post } = Astro.props;
let { title, pubDate } = post.data;


let { Content } = await render(post);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-synonym" preload />
    <Font cssVariable="--font-lora" preload />
    <link 
      rel="alternate"
      type="application/rss+xml"
      title="George Rodier's blog"
      href={new URL("rss.xml", Astro.site)}
    />
    <title>{title} | George Rodier</title>
  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <a class="site-name" href="/">George Rodier</a>
        <nav class="site-nav">
          <a href="/posts">Blog</a>
          <a href="/subscribe">Subscribe</a>
        </nav>
      </div>
    </header>

    <main class="container" data-container="narrow">
      <article class="article flow">
        <header class="article-header flow">
          <time class="article-date" datetime={pubDate.toISOString()}>
            {formatDate(pubDate)}
          </time>
          <h1 class="article-title">{title}</h1>
        </header>

        <div class="article-content">
          <Content />
        </div>
      </article>
    </main>
  </body>
</html>
