---
import { getCollection, render } from "astro:content";
import { Font } from "astro:assets";
import "../../../styles/styles.css";
import { formatDate } from "@utils/timeUtils";

export async function getStaticPaths() {
  let postEntries = await getCollection("posts");
  return postEntries.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

let { post } = Astro.props;
let { title, pubDate, description } = post.data;
let ogImagePath = `/social-cards/posts-${post.id}.png`;


let { Content } = await render(post);

const isProd = import.meta.env.PROD;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <Font cssVariable="--font-synonym" preload />
    <Font cssVariable="--font-lora" preload />

    <link 
      rel="alternate"
      type="application/rss+xml"
      title="George Rodier's blog"
      href={new URL("rss.xml", Astro.site)}
    />

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <title>{title} | George Rodier</title>
    <meta name="description" content={description} />
    <meta name="author" content="George Rodier" />

    <meta property="og:site_name" content="George Rodier" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:image" content={new URL(ogImagePath, Astro.site).href} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content={new URL(ogImagePath, Astro.site).href} />

    <!-- Fathom - beautiful, simple website analytics -->
    {
      isProd && (
        <script
          src="https://cdn.usefathom.com/script.js"
          data-site="READTHHM"
          defer
        />
      )
    }
    <!-- / Fathom -->
  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <a class="site-name" href="/">George Rodier</a>
        <nav class="site-nav">
          <a href="/posts">Blog</a>
          <a href="/subscribe">Subscribe</a>
        </nav>
      </div>
    </header>

    <main class="container" data-container="narrow">
      <article class="article flow">
        <header class="article-header flow">
          <time class="article-date" datetime={pubDate.toISOString()}>
            {formatDate(pubDate)}
          </time>
          <h1 class="article-title">{title}</h1>
        </header>

        <div class="article-content">
          <Content />
        </div>
      </article>
    </main>
  </body>
</html>
