---
import { getCollection, render } from "astro:content";
import { Font } from "astro:assets";
import "../../../styles/home.css";
import { formatDate } from "@utils/timeUtils";
import { slugifyStr } from "@utils/slugify";

export async function getStaticPaths() {
  let postEntries = await getCollection("posts");
  return postEntries.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

let { post } = Astro.props;
let { title, author, description, pubDate, ctaTitle, ctaDescription } = post.data;


let { Content } = await render(post);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-synonym" preload />
    <title>{title} | George Rodier</title>
  </head>
  <body>
    <header>
      <a href="/">George Rodier</a>
      <nav>
        <a href="/posts">Blog</a>
        <a href="/subscribe">Subscribe</a>
      </nav>
    </header>

    <main>
      <article>
        <header>
          <h1>{title}</h1>
          <time datetime={pubDate.toISOString()}>
            {formatDate(pubDate)}
          </time>
        </header>

        <div>
          <Content />
        </div>
      </article>
    </main>
  </body>
</html>
