---
import Main from "./Main.astro";

let {
  title = "George Rodier",
  description = "The writings, thoughts, projects, and more from George Rodier",
  author = "George Rodier",
  ogImage,
} = Astro.props;

let socialImageURL = new URL(ogImage ?? "og.png", Astro.url.origin).href;

let siteURL = new URL(Astro.url.pathname, Astro.url.origin).href;
---

<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <meta property="og:site_name" content="George Rodier" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={siteURL} />
    <meta property="og:image" content={socialImageURL} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content={socialImageURL} />

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="READTHHM" defer
    ></script>
    <!-- / Fathom -->
  </head>
  <body class="flex h-full bg-zinc-50 dark:bg-black">
    <div class="flex w-full">
      <Main>
        <slot />
      </Main>
    </div>
  </body>
</html>
